table {
    font-family: 'Press Start 2P', cursive;
    color: #4CFF00;
}

p {
    font-family: 'Press Start 2P', cursive;
    color: #4CFF00;
}

.title {
    display: flex;
    justify-content: center;
}

.key_layout_container {
    margin: 34px;
}
